<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>
<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="/spb">Санкт-Петербург</a>
                    <a class="nav-link" href="/msk">Москва</a>
                    <a class="nav-link" href="/ekb">Екатеринбург</a>
                </div>
            </div>
        </div>
    </nav>

    {% block content %}

    {% endblock content %}
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script src="{% static 'js/spb_map_data.js' %}"></script>
<script src="{% static 'js/ekb_map_data.js' %}"></script>
<script src="{% static 'js/msk_map_data.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
    <script async
        src="https://maps.googleapis.com/maps/api/js?key=<YOUR API KEY>&libraries=visualization&callback=initMap">
    </script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</html> 